<!DOCTYPE html>
<html>
{% extends 'rango/base.html' %}
{% load staticfiles %} 

{% block title %} About {% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
	</div>
	<div>
        About page! <strong>{{ boldmessage }}</strong><br />
		<strong>The number of visits is {{ count }} </strong><br />
        <a href="{% url 'about' %}">About</a><br />
        <img src="{% static "images/fritz-kahn-head.jpg" %}" alt="Fritz Kahn" /> <!-- New line -->
    </div>
{% endblock %}
	
</html>
